body {
  font-family: sans-serif;
  margin: 0 0 0 0;
  background-color: white;
}

h1 {
  font-family: sans-serif;
  color: white;
  font-size: 60px;
  font-weight: 700;
  padding-left: 5px;
}

h2 {
  font-family: sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 300;
  padding-left: 5px;
}

#cd-timeline {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0px;
  padding: 60px 0px;
}

#cd-timeline::before {
  background: white;
}

.cd-timeline-content {
  font-size: 20px;
  font-weight: 300;
  color: #2c3e50;
  box-shadow: none;
  border-bottom: 4px solid #d7e4ed;
}

.cd-timeline-img.cd-picture {
  background-color: #48739d;
}

#code {
  margin-top: -18%;
  z-index: 2;
}

.code-color {
  color: #34495e;
  font-weight: 300;
}

.code-img {
  display: block;
  margin: auto;
}

.direction1 {
  text-align: right;
}

.direction2 {
  text-align: left;
}

#intro {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#34518b, #c874a8);
}

#intro-img {
  background-image: url("intro-bottom.png");
  background-size: 450px 150px;
  height: 150px;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0px;
}

#intro-link {
  background-color: #50afa1;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  margin-top: 4.5%;
  margin-right: 10px;
}

#intro-link:hover {
  background: #58bdae;
  transition: all .3s ease-in-out;
}

.intro-name {
  margin-top: 9%;
}

.intro-title {
  margin-top: -20px;
}

#p-text {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 25px;
  line-height: 36px;
}

.statement-container {
  padding-left: 25%;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
}

.statement {
  width: 65%;
  text-align: left;
}

.timeline {
  background-color: #50afa1;
}

.timeline-header {
  color: #50afa1;
  font-weight: normal;
  margin: -10px 0 5px 0;
}
