html {
  scroll-behavior: smooth;
}

a:hover, a:focus {
  text-decoration: none;
}

.cd-timeline-content {
  font-size: 17px;
  font-weight: 300;
  color: #2c3e50;
  box-shadow: none;
  border-bottom: 4px solid #d7e4ed;
}

.cd-timeline-content a {
  background-color: #48739d;
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  transition: .2s background;
}

.cd-timeline-content a:hover {
  background-color: #5080af;
}

#cd-timeline {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0px;
  padding: 60px 0px;
}

#cd-timeline::before {
  background: white;
}

#code {
  margin-top: -18%;
  z-index: 2;
  margin-bottom: -8%;
}

.code-color {
  color: #34495e;
  font-weight: 300;
}

.code-img {
  display: block;
  margin: auto auto 20px auto;
}

#contact-info {
  padding: 30px 15%;
}

#contact-info a {
  color: #50afa1;
}

#contact-info a:hover {
  color: #62b7aa;
}

#intro-code {
  display: block;
}

.intro-link:hover {
  background: #4fbbab;
}

#p-text {
  font-size: 20px;
  line-height: 36px;
}

/*CONTACT INFO LINKS START*/

.social-media {
  padding: 6px 0;
  border-radius: 25px;
  width: 50px;
  display: inline-block;
  margin: 0 15px;
}

.daomi {
  border: 2px #fc4f52 solid;
  color: #fc4f52;
}

.linkedin {
  border: 2px #006097 solid;
  color: #006097;
}

.behance {
  border: 2px #1473e6 solid;
  color: #1473e6;
}

.daomi:hover {
  background: #fc4f52;
  color: white;
}

.linkedin:hover {
  background: #006097;
  color: white;
}

.behance:hover {
  background: #1473e6;
  color: white;
}

/*CONTACT INFO LINKS END*/

.statement-container {
  padding-left: 25%;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}

.statement {
  width: 65%;
  text-align: left;
  padding-top: 30px;
}

#timeline {
  background: url('timeline-background.gif');
}

.timeline-navbar {
  width: 100%;
  height: auto;
  list-style-type: none;
  background: linear-gradient(rgba(72, 157, 144,0.8), rgba(0,0,0,0));
  margin-bottom: -30px;
  padding: 20px 0;
}

.timeline-navbar a li {
  padding: 10px;
  font-size: 16px;
  width: 120px;
  border-radius: 4px;
  color: white;
  display: inline-block;
  cursor: pointer;
  transition: color .1s linear;
}

.timeline-navbar a li:hover {
  color: #eee;
}

@media only screen and (max-width: 75em) {
  .cd-timeline-content .cd-read-more {
    float: right;
  }
  #intro-code {
    display: none;
  }
}

@media only screen and (max-width: 20em) {
  #boucesDown a {
    display: none;
  }
}
