
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */